<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


   <link href="{{url_for('static', filename='st_scc/line_and_title.css')}}" rel="stylesheet">
   <link href="{{url_for('static', filename='st_scc/Cart.css')}}" rel="stylesheet">


   <!--icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>




       .color-inline{
  display: inline;
  width: 20px;
  height: 20px;
  border: 0.5px solid #000000;
   border-radius:100%;
  color: #ffffff;
}


    </style>
</head>
<body>

<div class="container" ><!--text-center-->
  <!--dresses or swimwear is [<main.Dresses object at 0x>]-->
 {%if dresses|length==0 and swimwear|length==0%}
   <div class="text-center" style="width:200px; ">You Have No Items In Your Shopping Card.</div>
  {%endif%}
{%if dresses%}
    <div class="block-title">
<div class="block-title-inner" style="background-color:#ffffff">
<h1 class="small">Dresses</h1>
</div>
</div>
{%endif%}

   {%for at in dresses%}
 <div class="card " style="margin-top:10px;">

    <div class="row row-cols-6 row-cols-lg-6">


    <div class="col "><!--img  class="card-img-top"-->
   <img style="height:100%; width:100%;" src="{{at.url_img}}" >

    </div>

    <div class="col" style="padding-top:3%;padding-left:2%"><!--title and des-->
         <span id="cart-sku-dr" style="display:none">{{at.sku}}</span>
         <p class="text-left"><span>{{at.title}}</span></p>
        <p class="font-weight-light">Color:  <button  class="color-inline add-item-color" style=" background-color:{{at.color}}"></button>
            <span id="cart-color-dr" style="display:none" >{{at.color}}</span></p>
        <p class="font-weight-light">Size: <span id="cart-size-dr">{{at.size}}</span></p>

    </div>

      <div class="col "><!--sku and color-->
          <p class="font-weight-light" style="margin-bottom:47%">PRICE </p>
          <p class="font-weight-normal">
              <span>₪</span>
              <span id="cart-price-dr">{{at.price}}</span>
              </p>
    </div>
     <div class="colr"><!--counter-->
          <p class="font-weight-light" style="margin-bottom:47%">QTY</p>
          <p class="font-weight-normal ">
          <span id="cart-counter-dr">{{at.counter}}</span></p>
    </div>

     <div class="col"><!--price-->
          <p class="font-weight-light" style="margin-bottom:47%">SUBTOTAL</p>
          <p class="font-weight-normal ">{{at.price}}</p>
    </div>

       <div id="cart-delete-dr" class="col" ><!--delete-->
           <p style="margin-bottom:62%"></p>
          <img style="cursor:pointer"  width="20" height="20" src="{{url_for('static', filename='icons/x-circle.svg')}}">
       </div>

    </div> <!--row-cols-1 of row-->
 </div><!--card-->
 {%endfor%}


{%if swimwear%}
    <div class="block-title">
<div class="block-title-inner" style="background-color:#ffffff">
<h1 class="small">Swimwear</h1>
</div>
</div>
   {%endif%}


<!--swimwear-->

   {%for at in swimwear%}
     <div class="card " style="margin-top:10px;">

    <div class="row row-cols-6 row-cols-lg-6">


    <div class="col "><!--img  class="card-img-top"-->
   <img style="height:100%; width:100%;" src="{{at.url_img}}" >

    </div>

    <div class="col" style="padding-top:3%;padding-left:2%"><!--title and des-->
         <span id="cart-sku-sw" style="display:none">{{at.sku}}</span>
         <p class="text-left"><span>{{at.title}}</span></p>
        <p class="font-weight-light">Color:  <button  class="color-inline add-item-color" style=" background-color:{{at.color}}"></button>
            <span id="cart-color-sw" style="display:none" >{{at.color}}</span></p>
        <p class="font-weight-light">Size: <span id="cart-size-sw">{{at.size}}</span></p>

    </div>

      <div class="col "><!--sku and color-->
          <p class="font-weight-light" style="margin-bottom:47%">PRICE </p>
          <p class="font-weight-normal">
              <span>₪</span>
              <span id="cart-price-sw">{{at.price}}</span>
              </p>
    </div>
     <div class="colr"><!--counter-->
         <p class="font-weight-light" style="margin-bottom:47%">QTY</p>
          <p class="font-weight-normal">
                  <span id="cart-counter-sw">{{at.counter}}</span></p>
    </div>

     <div class="col"><!--price-->
          <p class="font-weight-light" style="margin-bottom:47%">SUBTOTAL</p>
          <p class="font-weight-normal ">{{at.price}}</p>
    </div>

       <div id="cart-delete-sw" class="col" ><!--delete-->
           <p style="margin-bottom:62%"></p>
          <img style="cursor:pointer"  width="20" height="20" src="{{url_for('static', filename='icons/x-circle.svg')}}">
       </div>

    </div> <!--row-cols-1 of row-->
 </div><!--card-->
 {%endfor%}




{%if dresses or swimwear%}

    <div class="row" style="margin-bottom:2%;margin-top:15px">
        <div class="col-lg-4 col-md-6 col-sm-12 ">

           <div class="row-card" style="padding-left:5%;">
      <img width="17" height="17" src="{{url_for('static', filename='icons/bag.svg')}}">
        <span style="padding-left:3px; padding-top:0px">SUMMARY</span>
         </div>
       <!--  <p class="font-weight-light">SUBTOTAL: <span class="font-weight-normal total-price">{{total}}</span></p>-->
     <div class="font-weight-light">TOTAL:   <span class="font-weight-normal total-price">{{total}}</span></div>

    </div>
   </div>












<!--credit card payment-->
{%if is_login%}
<div class="row-card row">
  <div class="col-75">
    <div class="container-card container">


        <div class="row-card row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="name" placeholder="John M. Doe" value="{{user_.name_user}}">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com" value="{{user_.email}}" disabled>
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" value={{user_.address}}>
           <label ><i class="fa fa-institution"></i> City</label>
           <!--  <input type="text" id="city" name="city" placeholder="New York">-->

             <div class="btn-group" >
            <button style="width:250px" type="button" id="cart-add-city" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
             City     </button>
            <ul class="dropdown-menu" >
               {% for at in cities['city']  %}
                <li class="dropdown-item list_city">{{at}}</li>
                {%endfor%}
           </ul>
            </div>


            <div class="row-card ">
              <div class="col-50">
                <label >Zip</label>
                <input type="text" id="xip" name="zip" placeholder="0000" value="1111">
              </div>
              <div class="col-50">
                <label >Phone</label>
                <input type="text" id="phone" name="phone" placeholder="050-0000000" value="{{user_.phone}}">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="get_card_name" placeholder="John More Doe" value="yoni chitrit">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="get_card_number" placeholder="1111-2222-3333-4444" value="1111222233334444">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="get_month" placeholder="" value="10">

            <div class="row-card row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="get_year" placeholder="" value="2030">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="get_cvv" placeholder="" value="123">
              </div>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <button id="payment-order" class="btn btn-secondary" type="button" >
        <span id="play-spinners" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" hidden></span>
            <span id="text-status"> Pay</span>

        </button>

    </div>
  </div>
</div>
{%else%}
     <button  class="btn btn-danger" type="button" onclick="location.href='/'">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
           Please Login In Home Page
        </button>
{%endif%} <!--if login show payment-->


{%endif%}<!--hidde total and payment-->

    </div><!--container of items-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
       <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{{url_for('static', filename='js/Cart.js')}}">  </script>
</body>
</html>