<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
       <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    

   <link href="{{url_for('static', filename='st_scc/Cart.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='st_scc/Home.css')}}" rel="stylesheet">

   <!--icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>




       .color-inline{
  display: inline;
  width: 20px;
  height: 20px;
  border: 0.5px solid #000000;
   border-radius:100%;
  color: #ffffff;
}


    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img  width="13" height="13" src="{{url_for('static', filename='icons/pencil-fill.svg')}}"> Hani</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item" >
          <a class="nav-link active"  href="/" >Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="/home/swimwear/db/download" >Swimwear</a><!--target="_blank"-->
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/home/dresses/db/download" >Dresses</a>
        </li>

        <li class="nav-item">
      <a class="nav-link">
       <form action = "/home/cart/add/order/user/orders" method = "GET">
              <input  type ="image" style="padding-top:0px" src="{{url_for('static', filename='icons/bag.svg')}}"   />
        </form>
      </a>
     </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
<!--animation in CSS dropdown menu-->
     <ul class="menu-list"  >
  <li class="menu-item" style="padding:1%"><a href="#"> <img  width="30" height="30" src="{{url_for('static', filename='icons/chat-dots.svg')}}"></a>
   <ul class="sub-menu">
    <li><a href="#">Email: hani_shitrit@hanidesign.com</a> </li>
    <li><a href="#"></a> </li>

   </ul> </li>

     <li class="menu-item" style="float:right; padding:1%"><a href="/home/shipping/order/">   <img  width="30" height="30" src="{{url_for('static', filename='icons/truck.svg')}}"> </a>
      <ul class="sub-menu" style="margin-right:4px">
     <!-- <li ><a href="/home/shipping/order/">Shipped </a> </li>-->
   </ul>
     </li>
 </ul>

<!--menu-->






<div class="container" ><!--text-center, function def set_cart() is sent the variables -->
  <!--dresses or swimwear is [<main.Dresses object at 0x>]-->
 {%if dresses|length==0 and swimwear|length==0 and general|length==0%}
     {%if user_.name|length > 0%}
     <div  style="width:200px;font-weight: bold;">Hello {{user_.name}}</div>
     {%endif%}
   <div  style="width:200px; ">You Have No Items In Your Shopping Card.</div>
 {%endif%}


{%if dresses%}
    <div class="block-title">
<div class="block-title-inner" style="background-color:#ffffff">
<h1 class="small">Dresses</h1>
</div>
</div>
{%endif%}

   {%for at in dresses%}
 <div class="card " style="margin-top:10px;">

    <div class="row row-cols-6 row-cols-lg-6">


    <div class="col "><!--img  class="card-img-top"-->
   <img style="height:100%; width:100%;" src="{{at.url_img}}" >

    </div>

    <div class="col" style="padding-top:3%;padding-left:2%"><!--title and des-->
         <span id="cart-sku-dr" style="display:none">{{at.sku}}</span>
         <p class="text-left"><span>{{at.title}}</span></p>
        <p class="font-weight-light">Color:  <button  class="color-inline add-item-color" style="background:url({{at.color}})"></button>
            <span id="cart-color-dr" style="display:none" >{{at.color}}</span></p>
        <p class="font-weight-light">Size: <span id="cart-size-dr">{{at.size}}</span></p>

    </div>

      <div class="col "><!--sku and color-->
          <p class="font-weight-light" style="margin-bottom:47%">PRICE </p>
          <p class="font-weight-normal">
              <span>₪</span>
              <span id="cart-price-dr">{{at.price}}</span>
              </p>
    </div>
     <div class="colr"><!--counter-->
          <p class="font-weight-light" style="margin-bottom:47%">QTY</p>
          <p class="font-weight-normal ">
          <span id="cart-counter-dr">{{at.counter}}</span></p>
    </div>

     <div class="col"><!--price-->
          <p class="font-weight-light" style="margin-bottom:47%">SUBTOTAL</p>
          <p class="font-weight-normal ">{{at.price}}</p>
    </div>

       <div class="col" ><!--delete-->

           <p style="margin-bottom:62%"></p>
             <form action = "/home/cart/add/order/user/orders" method = "GET">
                 <input  type="text"  style="display:none" name="sku" value="{{at.sku}}">
                  <input  type="text"  style="display:none" name="color" value="{{at.color}}">
                  <input  type="text"  style="display:none" name="size" value="{{at.size}}">
                  <input  type="text"  style="display:none" name="price" value="{{at.price}}">

                    <input type="image" width="20" height="20" src="{{url_for('static', filename='icons/x-circle.svg')}}">
             </form>


           </div>

    </div> <!--row-cols-1 of row-->
 </div><!--card-->
 {%endfor%}


{%if swimwear%}
    <div class="block-title">
<div class="block-title-inner" style="background-color:#ffffff">
<h1 class="small">Swimwear</h1>
</div>
</div>
   {%endif%}


<!--swimwear-->

   {%for at in swimwear%}
     <div class="card " style="margin-top:10px;">

    <div class="row row-cols-6 row-cols-lg-6">


    <div class="col "><!--img  class="card-img-top"-->
   <img style="height:100%; width:100%;" src="{{at.url_img}}" >

    </div>

    <div class="col" style="padding-top:3%;padding-left:2%"><!--title and des-->
         <span id="cart-sku-sw" style="display:none">{{at.sku}}</span>
         <p class="text-left"><span>{{at.title}}</span></p>
        <p class="font-weight-light">Color:  <button  class="color-inline add-item-color" style="background:url({{at.color}})"></button>
            <span id="cart-color-sw" style="display:none" >{{at.color}}</span></p>
        <p class="font-weight-light">Size: <span id="cart-size-sw">{{at.size}}</span></p>

    </div>

      <div class="col "><!--sku and color-->
          <p class="font-weight-light" style="margin-bottom:47%">PRICE </p>
          <p class="font-weight-normal">
              <span>₪</span>
              <span id="cart-price-sw">{{at.price}}</span>
              </p>
    </div>
     <div class="colr"><!--counter-->
         <p class="font-weight-light" style="margin-bottom:47%">QTY</p>
          <p class="font-weight-normal">
                  <span id="cart-counter-sw">{{at.counter}}</span></p>
    </div>

     <div class="col"><!--price-->
          <p class="font-weight-light" style="margin-bottom:47%">SUBTOTAL</p>
          <p class="font-weight-normal ">{{at.price}}</p>
    </div>

       <div  class="col" ><!--delete-->
           <p style="margin-bottom:62%"></p>
             <form action = "/home/cart/add/order/user/orders" method = "GET">
                 <input  type="text"  style="display:none" name="sku" value="{{at.sku}}">
                  <input  type="text"  style="display:none" name="color" value="{{at.color}}">
                  <input  type="text"  style="display:none" name="size" value="{{at.size}}">
                  <input  type="text"  style="display:none" name="price" value="{{at.price}}">

                    <input type="image" width="20" height="20" src="{{url_for('static', filename='icons/x-circle.svg')}}">
             </form>
       </div>

    </div> <!--row-cols-1 of row-->
 </div><!--card-->
 {%endfor%}



{%if general%}
    <div class="block-title">
<div class="block-title-inner" style="background-color:#ffffff">
<h1 class="small">General</h1>
</div>
</div>
   {%endif%}


<!--swimwear-->

   {%for at in general%}
     <div class="card " style="margin-top:10px;">

    <div class="row row-cols-6 row-cols-lg-6">


    <div class="col "><!--img  class="card-img-top"-->
   <img style="height:100%; width:100%;" src="{{at.url_img}}" >

    </div>

    <div class="col" style="padding-top:3%;padding-left:2%"><!--title and des-->
         <span id="cart-sku-nw" style="display:none">{{at.sku}}</span>
         <p class="text-left"><span>{{at.title}}</span></p>
        <p class="font-weight-light">Color:  <button  class="color-inline add-item-color" style="background:url({{at.color}})"></button>
            <span id="cart-color-nw" style="display:none" >{{at.color}}</span></p>
        <p class="font-weight-light">Size: <span id="cart-size-nw">{{at.size}}</span></p>

    </div>

      <div class="col "><!--sku and color-->
          <p class="font-weight-light" style="margin-bottom:47%">PRICE </p>
          <p class="font-weight-normal">
              <span>₪</span>
              <span id="cart-price-nw">{{at.price}}</span>
              </p>
    </div>
     <div class="colr"><!--counter-->
         <p class="font-weight-light" style="margin-bottom:47%">QTY</p>
          <p class="font-weight-normal">
                  <span id="cart-counter-nw">{{at.counter}}</span></p>
    </div>

     <div class="col"><!--price-->
          <p class="font-weight-light" style="margin-bottom:47%">SUBTOTAL</p>
          <p class="font-weight-normal ">{{at.price}}</p>
    </div>

       <div  class="col" ><!--delete-->
           <p style="margin-bottom:62%"></p>
             <form action = "/home/cart/add/order/user/orders" method = "GET">
                 <input  type="text"  style="display:none" name="sku" value="{{at.sku}}">
                  <input  type="text"  style="display:none" name="color" value="{{at.color}}">
                  <input  type="text"  style="display:none" name="size" value="{{at.size}}">
                  <input  type="text"  style="display:none" name="price" value="{{at.price}}">

                    <input type="image" width="20" height="20" src="{{url_for('static', filename='icons/x-circle.svg')}}">
             </form>

       </div>

    </div> <!--row-cols-1 of row-->
 </div><!--card-->
 {%endfor%}






{%if dresses or swimwear or general%}

    <div class="row" style="margin-bottom:2%;margin-top:15px">
        <div class="col-lg-4 col-md-6 col-sm-12 ">

           <div class="row-card" style="padding-left:5%;">
      <img width="17" height="17" src="{{url_for('static', filename='icons/bag.svg')}}">
        <span style="padding-left:3px; padding-top:0px">SUMMARY</span>
         </div>
       <!--  <p class="font-weight-light">SUBTOTAL: <span class="font-weight-normal total-price">{{total}}</span></p>-->
     <div class="font-weight-light">TOTAL:   <span class="font-weight-normal total-price">{{total}}</span></div>

    </div>
   </div>

{%endif%}<!--hidde total and payment-->










<!--credit card payment-->
{%if is_login%}

<div class="row-card row">
  <div class="col-75">
    <div class="container-card container">


        <div class="row-card row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="name" placeholder="John M. Doe" value="{{user_.name}}">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com" value="{{user_.email}}" disabled>
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" value={{user_.address}}>
           <label ><i class="fa fa-institution"></i> City</label>
           <!--  <input type="text" id="city" name="city" placeholder="New York">-->

             <div class="btn-group" >
            <button style="width:250px" type="button" id="added-city" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
             City     </button>
            <ul class="dropdown-menu" >
               {% for at in cities['city']  %}
                <li class="dropdown-item list_city">{{at}}</li>
                {%endfor%}
           </ul>
            </div>


            <div class="row-card ">
              <div class="col-50">
                <label >Zip</label>
                <input type="text" id="xip" name="zip" placeholder="0000" value="1111">
              </div>
              <div class="col-50">
                <label >Phone</label>
                <input type="text" id="phone" name="phone" placeholder="050-0000000" value="{{user_.phone}}">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment Not Required</h3>

            <div class="icon-container" style="padding-top:40px">
              <span style="text-center"> Accepted Cards: </span>
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
            </div>
            <!--<input type="text" id="cname" name="get_card_name" placeholder="John More Doe" value="yoni">-->
                <div class="btn-group" >
            <button style="width:250px" type="button" id="added-name-card" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
             Name on Card    </button>
            <ul class="dropdown-menu" >
               {% for at in name_card['card']  %}
                <li class="dropdown-item list_cards">{{at}}</li>
                {%endfor%}
           </ul>
            </div>

            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="get_card_number" placeholder="1111-2222-3333-4444" value="0" disabled>
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="get_month" placeholder="" value="0" disabled>

            <div class="row-card row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="get_year" placeholder="" value="0" disabled>
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="get_cvv" placeholder="" value="0" disabled>
              </div>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <button id="payment-order" class="btn btn-secondary" type="button" >
        <span id="play-spinners" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" hidden></span>
            <span id="text-status"> Send Order</span>

        </button>

    </div>
  </div>
</div>
{%else%}
     <button  class="btn btn-danger" type="button" onclick="location.href='/'">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
           Please Login In Home Page
        </button>
{%endif%} <!--if login show payment-->




  </div><!--container of items-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
       <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
      <script src="{{url_for('static', filename='js/Cart.js')}}">  </script>


    
</body>
</html>
