<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 <link href="{{url_for('static', filename='st_scc/Home.css')}}" rel="stylesheet">
   <link href="{{url_for('static', filename='st_scc/EmailVerify.css')}}" rel="stylesheet">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
   <script src="{{url_for('static', filename='js/dress.js')}}">  </script>
   <script src="{{url_for('static', filename='js/email_verify.js')}}">  </script>

</head>
<body>


<!--style="background-color:#FFC0CB" -->

<ul class="home_nav nav nav-tabs" id="myTab"   role="tablist"><!--call to target nav nav-tabs -->
  <li class="nav-item" role="presentation">
      <!--active-->
    <button class="nav-link  {{active[0]}}" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
        Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {{active[1]}}" id="sw-tab" data-bs-toggle="tab" data-bs-target="#sw-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
        Swimwear</button>
  </li>
  <li class="nav-item" role="presentation" id="to_dresses_link">
    <button class="nav-link {{active[2]}}" id="dresses-tab" data-bs-toggle="tab" data-bs-target="#dresses-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
        Dresses</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {{active[3]}}" id="rent-tag" data-bs-toggle="tab" data-bs-target="#rent-tab-pane" type="button" role="tab" aria-controls="rent-tab-pane" aria-selected="false" >
        Rent</button>
  </li>



</ul>















<div class="tab-content" style="margin-bottom:5%" id="myTabContent"><!--group target-->

    <!--index of home-->
   <!--show active-->




    <!--home tag-->
  <div class="tab-pane fade {{show_active[0]}}"  id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

   <button class="open-button"  >Verify Email </button>

<div class="form-popup" id="myForm">
  <div  class="form-container"> <!--action="/action_page.php"-->
    <h4>verify your email</h4>
     <div id="liveAlertPlaceholder"></div>
    <input type="text" placeholder="Enter Email" name="email_input" id="verify_email_input" >
     <button type="submit" class="btn" id="verify_email_btn">Send</button><!--onclick="verify_email_btn()"-->

     <!--name="verificationcode"-->
    <input type="password" name="pass_input" placeholder="Password sent to email"   id="verify_pass_input">
    {% if error %}
      <p >{{ error }}</p>
    {% endif %}

     <button type="submit"   class="btn"  id="verify_pass_btn" >Send pass</button>
    <button type="button" class="btn cancel" >Close</button>
  </div>
</div>





<!--close of login-->


<!--imgs home tag-->
<div class="img_container">

      <div class="container_vertical">
      <img class="imgs_home div_size_horizontal" src="https://res.cloudinary.com/clouster/image/upload/v1618558359/background/bg_logIn_aydneo.jpg" >
       <div >
            <img class="imgs_home div_size_vertical" src="https://res.cloudinary.com/clouster/image/upload/v1618558359/background/bg_logIn_aydneo.jpg">

            <img class="imgs_home div_size_vertical" src="https://res.cloudinary.com/clouster/image/upload/v1618558359/background/bg_logIn_aydneo.jpg">
       </div>
       </div><!--close of container_vertical-->


       <div class="container_vertical">
             <img class="imgs_home horizontal_three" src="https://res.cloudinary.com/clouster/image/upload/v1618558359/background/bg_logIn_aydneo.jpg">
             <img class="imgs_home horizontal_three" src="https://res.cloudinary.com/clouster/image/upload/v1618558359/background/bg_logIn_aydneo.jpg">
       </div>



       <div class="container_vertical">
             <img style="left:2%;" class="imgs_home horizontal_radius" src="https://res.cloudinary.com/clouster/image/upload/v1618558359/background/bg_logIn_aydneo.jpg">
             <div>we are created for your beauty </div>
             <img style="right:2%;" class="imgs_home horizontal_radius" src="https://res.cloudinary.com/clouster/image/upload/v1618558359/background/bg_logIn_aydneo.jpg">
         </div>


</div ><!--close of img_container-->
  </div><!--close tag home-->


















  <div class="tab-pane fade {{show_active[1]}}" id="sw-tab-pane" role="tabpanel" aria-labelledby="sw-tab" tabindex="0">
      this is Swimwear page

  </div><!--end swimwear-->













      <!--dress tag-->
  <div class="tab-pane fade {{show_active[2]}}" id="dresses-tab-pane" role="tabpanel" aria-labelledby="dresses-tab" tabindex="0">
     this is Dresses page

       <div class="row row-cols-1 row-cols-md-2" style="margin:3%; ">
   {%for it in list_dress %}

 <div class=" card mb-3 col-md-6 col-lg-6" style="max-width: 540px; margin-right:4%; margin-left:3%">
  <div class="row g-0">
    <div  class="col-md-4">
        <!--https://res.cloudinary.com/clouster/image/upload/v1618558359/background/bg_logIn_aydneo.jpg-->
      <img id="link_dress" src="{{it['url_img'][0]}}" class="img-fluid rounded-start"  style="padding-top:2%;" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 id="name_dress" class="card-title"> {{it['title']}}</h5>
        <p class="card-text">{{it['descript']}}</p>
         <p class="card-text"><small class="text-muted" id="price_dress">{{it['price']}}</small></p>






      </div>
    </div>
  </div>

   <div class="row" style="padding-top:1%; padding-bottom:1%; ">

        <div class="col-lg-2 col-md-2" id="group_size" style="margin-right:1%;">
  <div class="btn-group" >
    <button type="button" id="ToSizeDress"  class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
     size
    </button>
     <ul class="dropdown-menu">
       {%for s_at in sizes['size'] %}
       <li class="dropdown-item size_dress">{{s_at}}</li>
      <!-- <li class="dropdown-item size_dress">M</li>-->
        {%endfor%}
     </ul>
  </div>
      </div>


      <div class="col-lg-2 col-md-2">
  <div class="btn-group">
    <button type="button" id="ToColorDress" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    color
    </button>
     <ul class="dropdown-menu">
       {%for c_at in colors['color'] %}
       <li class="dropdown-item color_dress" >{{c_at}}</li>
       {%endfor%}
     </ul>
  </div>
      </div>

       <div class="col-lg-3 col-md-6">
  <div class="btn-group">
    <button type="button" id="ToAddDress" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    add
    </button>
     <ul class="dropdown-menu">
       <li class="dropdown-item add_dress">+</li>
       <li class="dropdown-item less_dress">-</li>
     </ul>
  </div>
      </div>

     <div class="col-lg-3 col-md-6" hidden>
    <div id="sku_id_item"  >{{it['sku']}}</div>
    </div>


   </div><!--row of button-- href="http://127.0.0.1:5000/home/navto"-->


</div>
    {%endfor%}
       <!--btn btn-info margin:auto col-lg-2 col-md-2-->

   </div> <!--close dress tag-->
      <!--onclick="window.location.href='http://127.0.0.1:5000/home/navto';"-->
      <button type="button" class="floating_btn_prc" >Add To Cart</button>
  </div><!--end index of dresses-->






  <div class="tab-pane fade {{show_active[3]}}" id="rent-tab-pane" role="tabpanel" aria-labelledby="rent-tab" tabindex="0">
     rent
  </div>








</div><!--end group-->

 <!--end nav-->

<script>

    document.querySelector("#to_dresses_link").addEventListener("click",function(){
    
     location.href='http://127.0.0.1:5000/home/nav/dress';

    });

</script>





</body>
</html>



