<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 <link href="{{url_for('static', filename='st_scc/Dresses.css')}}" rel="stylesheet">
 <link href="{{url_for('static', filename='st_scc/line_and_title.css')}}" rel="stylesheet">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
   <script src="{{url_for('static', filename='js/dress.js')}}">  </script>



   <style>

  /*color to select*/
   .color-inline{
  display: inline;
  width: 25px;
  height: 25px;
  border: 0.5px solid #000000;
   border-radius:100%;
  color: #ffffff;
}
.container-color{
   padding-top:1%;
   padding-left:3%;
   position:relative;
   font-size:0px;

}
  </style>





</head>
<body>

<div class="spinner-border text-secondary" style="top:50%;left:50%; position:absolute" role="status">
  <span class="visually-hidden">Loading...</span>
</div> <!--spinners-->

<div class="container">



<div class="block__title">
<div class="block__title-inner" style="background-color:#dac0ff">
<h1 class="small">DRESSES</h1>
<span>2022 Collection</span>
</div>
</div>

<!--design card, first line-->

       <div class="row" >

         {%for im in first_list_dress%}

        <div class="col-lg-4 col-md-6 col-sm-12 " style="margin-bottom:2%;">


                 <div class="card " style="width: 20rem; ">
                       <a   style="cursor:pointer">
                 <img id="ToDresses-Card" style="height:330px;" src="{{im['url_img']}}" class="card-img-top" >
                       </a>
                 <div class="card-body">
                      <p id="ToDresses-Sku-Card" style="display:none">{{im['sku']}}</p>
                 <p class="text-center">{{im['title']}}</p>
                     <p style="padding-left:1%;" class="text-left">name: dresses  ₪{{im['price']}} </p><!--<span style="display:none">this text is hidden </span>-->
                     </div>
               </div>
              </div>

       {%endfor%}

    </div>






<!--different design cards, second line-->
   {%for it in list_dress %}
    <div class="row row-cols-1  row-cols-md-2 ticket-center" >

     <div class=" card mb-3 col-md-6 col-lg-6" style="max-width: 540px; margin-right:2%; margin-left:2%">
     <div class="row g-0">
     <div  class="col-md-4">
       <!--call to-->
         <img  id="link_dress" src="{{it['url_img'][0]['img'][0]}}" class="img-fluid rounded-start"  style="padding-top:2%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{it['sku']}}" >
     </div>
    <div class="col-md-8"><!-- 8 card-body-->
      <div class="card-body">
        <h5 id="name_dress" class="card-title"> {{it['title']}}</h5>
        <p id="descript" class="card-text">{{it['descript']}}</p>
         <p class="card-text"><small class="text-muted" id="price_dress">{{it['price']}}</small></p>


      </div>
    </div>
  </div>

   <div class="row" style="margin-top:1%; margin-bottom:1%; ">


          <div class="col-lg-2 col-md-2 col-sm-center container-color" >

    <button type="button" id="ToColorDress"  class="color-inline " style="background-color:{{it['url_img'][0]['color']}}">
    </button>

      </div>



        <div class="col-lg-2 col-md-2 col-sm-center" id="group_size">
  <div class="btn-group" >
    <button type="button" id="ToSizeDress"  class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
     size
    </button>
     <ul class="dropdown-menu">
       {%for at in it['sizes'] %}
             <li class="dropdown-item size_dress">{{at}}</li>
      <!-- <li class="dropdown-item size_dress">M</li>-->
        {%endfor%}
     </ul>
  </div>
      </div>




       <div class="col-lg-2 col-md-2 col-sm-center"><!--3,6-->
  <div class="btn-group">
    <button type="button" id="ToAddDress" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    add
    </button>
     <ul class="dropdown-menu">
       <li class="dropdown-item add_dress"><img  width="25" height="25" src="{{url_for('static', filename='icons/plus.svg')}}"></li>
       <li class="dropdown-item less_dress"><img  width="25" height="25" src="{{url_for('static', filename='icons/dash.svg')}}"></li>
     </ul>
  </div>
      </div>

     <div class="col-lg-3 col-md-6" hidden>
    <div id="sku_id_item"  >{{it['sku']}}</div>
    </div>


   </div><!--row of button-- href="http://127.0.0.1:5000/home/navto"-->


</div>

            <!--popup img-->                                               <!--popup img-->



<!-- Modal-->
<div class="modal fade" id="staticBackdrop{{it['sku']}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-md" >
      <div class="modal-content" >
         <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>

<!--modal-body -->
<div class="modal-body"  >
  <div class="container-fluid"><!--popup-->

 <div class="row" >
  <div class="col-lg-12 col-md-12 ms-auto" >

   <div id="{{it['sku']}}" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-touch="true">
  <div class="carousel-indicators"  ><!--for-->
     {%for im in range(it['url_img'][0]['img']|length)%}
      {%if im == 0%}
       <button type="button" data-bs-target="#{{it['sku']}}" data-bs-slide-to="{{im}}" class="active" aria-current="true" aria-label="Slide 1"></button>
       {%endif%}
       {%if im > 0%}
      <button type="button" data-bs-target="#{{it['sku']}}" data-bs-slide-to="{{im}}" aria-label="Slide 2"></button>
      {%endif%}
      {%endfor%}
  </div>

  <div class="carousel-inner">
     {%for i in range(it['url_img'][0]['img']|length)%}
      {%if i == 0%}
    <div class="carousel-item active">
      <img src="{{it['url_img'][0]['img'][i]}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      <p>Hani Designs</p>
      </div>
    </div>
      {%endif%}

      {%if i > 0%}
    <div class="carousel-item" >
      <img src="{{it['url_img'][0]['img'][i]}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
          </div>
     {%endif%}
    {%endfor%}

<!--icon left or right-->
  <button class="carousel-control-prev" type="button" data-bs-target="#{{it['sku']}}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{it['sku']}}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div><!--inner-->
</div><!--carousel-->


</div><!--col-md-12-->

</div><!--end row-->

</div><!--close popup-->
</div>


<!--close of-->
    </div>
</div>
</div>












       <!--btn btn-info margin:auto col-lg-2 col-md-2-->


   </div> <!--close dress tag-->
     {%endfor%}
      <!--onclick="window.location.href='http://127.0.0.1:5000/home/navto';"-->
   <button type="button" id="floating_btn_prc" style="display:none">SAVE AND ADD TO BAG</button>




</div><!--container-->




</body>
</html>
