


body{
background-color:#FFFFFF;/*#DBBA01*/
font-family: Arial, Helvetica, sans-serif;
}

img.div_size_horizontal{
 width:100%;

}
img.size_half{
 width:100%;

}

.img_home{

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


img.horizontal_{
 width:100%;

}

img.horizontal_radius{
 border-radius:50%;
 width:25%;
 max-height:30%;

}

/*imgs of tag home */


















/*  animation in CSS dropdown menu  */
.menu-list {
   list-style:none;
   padding:0;
   margin:0;
}

.menu-item {
   float:left;
   font-size:14px;
   margin-right:20px;
   position:relative;

}


.menu-item>a {
   text-decoration:none;
   display:block;
   color:white;
   transition:all 0.5s;
   padding:0;
   margin:0;
}



.menu-item:hover>a {
   -moz-transform:skewY(10deg);
   -ms-transform:skewY(10deg);
   -o-transform:skewY(10deg);
   -webkit-transform:skewY(10deg);
   transform:skewY(10deg);
}

.sub-menu {
   display:none;
   background:pink;
   list-style:none;
   margin:0;
   padding:0;
   position:absolute;
   top:100%;
   left:0;
   width:200px;
}

.menu-item:hover>.sub-menu {
   display:block;
}

.sub-menu>li>a {
   text-decoration:none;
   color:white;
   transition:all 0.2s;
   display:block;
   padding:5px;
}

.sub-menu>li:hover>a {
   background:pink;
}


























